<div class="autocomplete" ng-if="suggestionList.visible">

  <div class="row">
    <div class="col-xs-3">

      <ul class="list-unstyled autocomplete-categories">
        <li ng-repeat="category in categories track by category._id">
          <label ng-class="text-{{item.colors.text}}">
            <input type="checkbox" ng-model="category.selected" ng-change="forceLoad()">
            {{::category.name}} ({{category.availableTags}})
          </label>
        </li>
      </ul>

    </div>
    <div class="col-xs-9">
      <div class=“suggested-tags-wrapper”>
        <ul class="list-unstyled suggested-tags" ng-class="{'one-col': suggestionList.items.length <= 20 , 'two-col': suggestionList.items.length > 20 && suggestionList.items.length <= 40, 'three-col': suggestionList.items.length > 40 }">
          <li ng-repeat="item in suggestionList.items track by item._id"
          ng-class="['text-{{item.colors.text}}', {selected: item == suggestionList.selected, category: item.isCategory}]"
          ng-click="!item.isCategory && addSuggestionByIndex($index)"
          ng-mouseenter="!item.isCategory && suggestionList.select($index)">

          <ti-autocomplete-match data="::item"></ti-autocomplete-match>
        </li>
      </ul>

    </div></div>

    <div class="no-tags" ng-if="suggestionList.items.length === 0">
      No tags found
    </div>

  </div>
