<div class="autocomplete" ng-if="suggestionList.visible">
  <div class="col-sm-3">
    <ul>
      <li ng-repeat="category in categories track by category._id">
        <input type="checkbox" ng-model="category.selected" ng-change="forceLoad()">
        {{::category.name}} ({{category.availableTags}})
      </li>
    </ul>
  </div>
  <div class="col-sm-2 suggestion-item"
      ng-repeat="item in suggestionList.items track by item._id"
        ng-class="{selected: item == suggestionList.selected}"
        ng-click="!item.isCategory && addSuggestionByIndex($index)"
        ng-mouseenter="!item.isCategory && suggestionList.select($index)">

      <ti-autocomplete-match data="::item"></ti-autocomplete-match>
  </div>
  <span class="no-tags" ng-if="suggestionList.items.length === 0">No tags found</span>
</div>
